// HEADER STYLES

.blog-main-header {
  background-image: url("../images/blog-header.jpg");
  background-size: cover;	
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: center;
  width: 100%;
  height: 95vh;
}

// .blog-header-container h2 {
//   display: flex;
//   justify-content: center;
//   align-content: center;
//   margin-top: 12%;
// }

// .blog-header-container {
//   display: flex;
// }

.blog-header-contents {
  display: flex;
}

.aside-image-container {
  display: flex;
  width: 50%;
}

.blog-image-container {
  display: flex;
  width: 50%;
}

// Main section
.blog-section {
  display: flex;
  background: #0c1423;
}

.aside-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 5%;
}

.article-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}