// HEADER STYLES - CONTACT PAGE

.contact-header {
  background-image: linear-gradient(to bottom, rgba(12, 20, 35, 0.5), rgba(12, 20, 35, 0.5)),url("../images/contact-header.jpg");
  background-size: cover;	
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: center;
  height: 50vh;
}

.header-contact-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

main{
  background: #0c1423;
  height: 50vh;
}

.contact-section1-container {
  display: flex;
  width: 45%;
}

.contact-info-section {
  width: 35%;
  margin-left: 19%;
  margin-top: 9%;
  white-space: nowrap;
}

.contact-section {
  display: flex;
  margin-left: 5%;
}

.contact-social-container {
  display: flex;
  margin-bottom: 5%;
}

// FIX!!!!

.contact-social-container span {
  display: flex;
  padding-left: 5%;
}

.contact-social-container span:first-child {
  padding: 0;
}

.contact-social-info h4 {
  margin-bottom: 7%;
}
// FORM STYLES


.cotact-form-container {
  display: flex;

}

.contact-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 6%;
}

.contact-form-container {
  width: 60%;
  margin-top: -14%;
}


.form-container {
  width: 80%;
  margin-top: -14%;
}

.form-contents {
  width: 87%;
}

.contact-fieldset {
  border: none;
  background:#0c1423;
}
.contact-form-input {
  display:flex;
  justify-content: space-between;
  padding-bottom: 5%;
}

.contact-container {
  display: flex;
}

.form-container {
  width: 80%;
  margin-top: -14%;
}

.form-contents {
  width: 87%;
}

 #contact-name,
 #contact-email {
    border: none;
    border-bottom: 1px solid #86e0f9;
    background:#0f614e;
    padding: 2%;
    padding: 0 5%;
    width: 45%;
}


#contact-comment {
  border: 1px solid #86e0f9;
  background:#0f614e;
}

.contact-fieldset {
  border: none;
  background: #0f614e;
  box-shadow: -23px 23px 0px 0px #86e0f9;
  padding: 0 7%;
  padding-top: 7%;
}

.contact-button {
  background: #0c1423;
  border: 1px solid #0c1423;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  margin: 7% 0;
  margin-bottom: 7%;
}


.contact-form-comment-button {
  display: flex;
  flex-direction: column;
}

 #contact-name,
 #contact-email {
    border: none;
    border-bottom: 1px solid#86e0f9;
    width: 45%;
}

#contact-comment {
  border: 1px solid #86e0f9;
  width: 100%;
}

.contact-form input,
textarea {
    color: white;
}

#contact-name:focus-within,
#contact-email:focus-within,
#contact-comment:focus-within {
  border: 2px solid #0c1423;
}