.nav-links {

    ul {
      display: flex;
    }

    li {
      padding: 2%;
      padding-top: 0;
      display: block;
    }

    a {
    text-transform: uppercase;
  }
}

.header-container h1 {
    font-size: 6.9rem;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Barlow', sans-serif;
}
