// Stripping Styles

	body, h1, h2, h3, h4, button, p, li, ul, a, img{
    margin: 0;
    padding: 0;
    color: #ffffff;
  }

  /* GENERAL STYLING */
  html {
    font-size: 125%;
    overflow-x: hidden;
  }

  body {
    font-family: 'Lato', sans-serif;
    line-height:32px;
    overflow-x: hidden;
  }

.wrapper1 {
  max-width: 1680px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.wrapper2 {
  max-width: 1380px;
  margin: 0 auto;
  width: 85%;
  height: 100%;
}

  // SKIP TO CONTENT Referenced by NC State

a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}

nav {
  font-family:  'Barlow', sans-serif;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

a {
color: #ffffff;
text-decoration: none;
}

a:focus {
  outline: 3px solid #86e0f9;
}

span {
  display: block;
}

button {
  background: #86e0f9;
  border: 1px solid #86e0f9;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
}

.blog-button {
  background: #0f614e;
  border: 1px solid #0f614e;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  margin: 5% 0;
}

.blog-button:hover {
  background: #86e0f9;
  transition: all 0.3s;
}

.button-blue p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  color: #0c1423;
  text-transform: uppercase;
} 


input#contact-name,
textarea#contact-comment{
  padding: 0.5%;
}

#name:focus-within,
#email:focus-within,
#comment:focus-within {
  border: 2px solid #0f614e;
}

.form-contents input,
  textarea {
    color: #ffffff;
}