// Stripping Styles

	body, h1, h2, h3, h4, button, p, li, ul, a, img{
    margin: 0;
    padding: 0;
    color: #ffffff;
  }

  /* GENERAL STYLING */
  html {
    font-size: 125%;
  }

  body {
    font-family: 'Lato', sans-serif;
    line-height:32px;
  }

   .wrapper2 {
    max-width: 1680px;
    margin: 0 auto;
    width: 85%;
    height: 100%;
    // border: 2px dotted coral;
  }

  nav {
    font-family:  'Barlow', sans-serif;
    // display: flex;
    width: 100%;
  }

  img {
    width: 100%;
    display: block;
  }

  a{
  color: #ffffff;
  text-decoration: none;

}

span {
  display: block;
}

button {
  background: #86e0f9;
  border: 1px solid #86e0f9;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
}

.blog-button {
  background: #0f614e;
  border: 1px solid #0f614e;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  margin: 5% 0;
}

.button-blue p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  color: #0c1423;
  text-transform: uppercase;
} 



