//  HEADER STYLES

 .main-header{
  background-image: linear-gradient(to bottom, rgba(12, 20, 35, 0.5), rgba(12, 20, 35, 0)), url("../images/header-image.jpg");
  background-size: cover;	
  background-repeat: no-repeat;
  background-color: #0c1423;
  background-position: 50% -160px;
  width: 100%;
  position: relative;
}

.nav-links {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-top: 1%;
  padding-bottom: 7%;
  padding-right: 10%;
}

.header-contents {
  display: flex;
}

.header-container {
 width: 50%;
 display: flex;
//  flex-shrink: 0;
}

.header-container h1 {
  width: 5%;
}

.main-header-image-container {
  display: flex;
  width: 50%;

}

.header-image {
  width: 100%;
  height: 100%;
  // position: absolute;
}

.header-image img  {
  width: 107%;
  margin-left: -7%;
}

// SECTION 1

.section1 {
  background:#0c1423;
  padding-bottom: 11%;
  display: flex;
}

.section1-contents h3 {
  margin-top: 4%;
  margin-bottom: 1%;
  text-align: center;
}

.section1-contents {
  display: flex;
  flex-direction: column;
}

.section1-paragraph p {
  margin-right: 14%;
  margin-bottom: 2%;
  margin-left: 12%;
}

.section1-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

// SECTION 2

.section2 {
  background:#0f614e;
  display: flex;
}

.section2-container1,
.section2-container2 {
  height: 50%;
  flex-direction: column;
}

// section 2 nemo/additions

.section2-content1,
.section2-content2{
  display: flex;
  position: relative;
  bottom: 20px;
}

.section2-image-container1 {
    width: calc(50% - 5%);
    margin-right: 5%;
}

.section2-content-h4-p-1 { 
  padding-top: 7%;
  padding-left: 5%;
  padding-right: 15%;
}

.section2-button1,
.section2-button2 {
  padding-top: 7%;
}

.section2-image-container1 img {
  margin-top: -10%;
  box-shadow: 25px 25px 0px 0px #86e0f9;
}

.section2-image-container2 { 
    width: calc(50% - 5%);
    margin-left: 5%;
    margin-top: 5%;
}

.section2-image-container2 img {
  box-shadow: -22px 22px 0px 0px #86e0f9;
  margin-bottom: -19%;
}

.section2-content-h4-p-2{
  padding-top: 7%;
  padding-right: 3%;
  padding-left: 10%;
}

.section2-content-h4-p-1,
.section2-content-h4-p-2{
  width: 50%;
}

.section2-content2 h4,
.section2-content2 p,
.section2-button2{
  text-align: right;
}

.section2-content1 h4,
.section2-content2 h4 {
    padding-bottom: 5%;
}

// SECTION 3

.section3{
  background:#0c1423;
}

.section3-container {
  display: flex;
  padding: 12% 0;
}

.section3-group1,
.section3-group2 {
  display: flex;
  flex-direction: column;
}

.fas fa-location-arrow {
  display: flex;
  padding-right: 15%;
}

.location-heading,
.blog-heading,
.community-heading,
.touch-heading{
  display: flex;
  width: 80%;
  padding-right: 10%;
}

.location-heading i,
.blog-heading i,
.community-heading i,
.touch-heading i {
  margin-right: 5%;
}

.blog-paragraph p,
.location-paragraph p,
.community-paragraph p,
.touch-paragraph p{
  margin-left: 5%;
  padding-right: 16%;
}

.location-heading i{
  padding: 2%;
}

.blog-heading i{
  padding: 2%;
}

.community-heading i{
  padding: 1.5%;
}

.touch-heading i{
  padding: 2%;
}

.location-paragraph,
blog-paragraph,
.communty-paragraph,
.touch-heading {
  display: flex;
}


.section3-group1 i,
.section3-group2 i{
  width: 50px;
  height: 50px;
  background: #86e0f9;
  color: #0c1423;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}

.section3-group1 p,
.section3-group2 p {
  padding-left: 5%;
}

.section3-icon-h4 {
  margin-top: 10%;
}

// SECTION 4

.section4-image-container img {
  width: 100%;
  height: 10%;
  object-fit: cover;
}

// SECTION 5

.section5 {
  display: flex;
  background: #0c1423;
}

.section5-container {
  display: flex;
  margin-top: 7%;
  margin-bottom: 17%;
}

.section5-image-container {
  width: 320px;
  height: 320px;
  display: flex;
  margin-right: 10%;
  box-shadow: 41px 37px 0px -10px #86e0f9;
}

.section5-contents {
  display: flex;
  flex-direction: column;
  width: 56%;
}

.section5-contents p {
  padding-top: 5%;
}

.section5-button1{
  padding-top: 5%;
}

.section5-button1 p {
  padding-top: 0;
}


// SECTION 6

.section6 {
  background:#0f614e;
}

.section6-image-container {
  display: flex;
  margin: 0 5%;
  justify-content: space-between;
}

.section6-image-container {
  display: flex;
 
}

.section6-image-container img {
  margin-left: 2%;
   justify-content: space-around;
   padding: 5% 0;
}

// FOOTER SECTION

.footer-section {
  background: #86e0f9;
}
.footer-section p{
  color: #0c1423;
  text-align: center;
  padding: 1%;
}