@media only screen and (max-width: 1599px){
  
  .section1-container{
    margin-top: -60%;
  }

}

@media only screen and (max-width: 1420px){
  
  .section1-container{
    margin-top: -75%;
  }

}

@media only screen and (max-width: 1386px){

  .contact-form-container {
    margin-top: -17%;
  } 
}

@media only screen and (max-width: 1366px){

  .blog-form {
    width: 90%;
  }
  .form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #name,
  #email {
    width: 90%;
    display: flex;
    flex-direction:  column;
  }

  #comment {
    width: 90%;
  }

  .blog-button {
    width: 90%;
  }


  #name,
  #email{
    margin: 3% 0;
    padding: 3% 0;
    padding-left: 1%;
  }

  #comment {
    padding: 3% 0;
    padding-left: 1%;
  }
}

@media only screen and (max-width: 1252px){
  #contact-name,
  #contact-email{
    width: 100%;
    margin: 3% 0;
  }

  .contact-form-container {
    margin-top: -20%;
  }

  .contact-form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1161px){

  // Index.html

  .header-image img {
    width: 92%;
    margin-left: 8%;
  }

  .header-container h1 {
    width: 5%;
    font-size: 5rem;
    margin-left: 19%;
  }

  .section1{
    padding-bottom: 20%;
  }

  .section1-contents h3 {
    margin-bottom: 3%;
  }

  .section1-paragraph p {
    padding-right: 16%;
    padding-bottom: 5%;
    padding-left: 0%;
  } 

  .section2 {
    background: #0f614e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section2-content1, .section2-content2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 20px;
    flex-direction: column;
  }

  .section2-image-container1,
  .section2-image-container2{
    width: 100%;
  }

  .section2-content-h4-p-1, 
  .section2-content-h4-p-2 {
    width: 100%;
  }

  .section2-content-h4-p-1,
   .section2-content-h4-p-2{
    padding: 10%;
  }

  .section2-content-h4-p-2 {
    order: 1;
  }

  .section2-content-h4-p-2 h4,
  .section2-content-h4-p-2 p,
  .section2-button2 {
    text-align: left;
  }

  .section2-image-container1 img {
    width: 98%;
  }

  .section2-image-container2 {
    width: 100%;
    margin: 0%;
    padding: 0%;
  }

  .section2-image-container2 img {
    width: 98%;
    margin-left: 2%;
    margin-bottom: 0;
  }
  .section3-group1 p, .section3-group2 p {
    padding-left: 6%;
  }

   .section3-container {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    padding-bottom: 15%;
  }

  section3-group1 p, 
  .section3-group2 p {
    padding-left: 0%;
  }

  // Blog.html

  .blog-main-header {
    height: 65vh;
  }

  .section1-container {
    margin-top: -85%;
  }

  .aside-section1 h4,
  .aside-section2 h4 {
    font-size: 1.2rem;
  }

  .aside-section1 p,
  .aside-section2 li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1073px){

  
  // .main-header {
  //   height: 96vh;
  // }

  main {
    height: 90vh;
  }

  .section1-contents {
    margin-top: 88px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }
  
  .contact-section {
    flex-wrap: wrap;
    order: 1;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 30%;
  }

  .contact-social-container span {
    display: flex;
    padding-left: 15%;
}

.contact-social-container span:first-child {
  padding-left: 20%;
}

  .form-contents {
    width: 125%;
    display: flex;
    justify-content: center;
  }

  .contact-social-info p {
    font-size: 1.5rem;
    white-space: nowrap;
    line-height: 2rem;
  }

  .blog-section {
    flex-wrap: wrap;
  } 
  .aside-container {
    display: flex;
    width: 100%;
    margin:0;
    order: 1;
  }

  .aside-image {
    max-width: 62%;
    display: flex;
    flex-wrap: nowrap;
    max-height: 50%;
    z-index: 1;
  }

  .aside-contents {
    margin-top: -9.1%;
  }

  .aside-section1 h4 {
    padding-top: 15%;
  }

  .aside-section1,
   .aside-section2{
    padding-left: 19%;
  }

  .aside-section2{
    padding-top: 0;
  }

  .section1-container {
    margin-top: -55%;
  }

  .blog-image-container {
    width: 146%;
    box-shadow: -43px 46px 0px -10px #86e0f9;
    margin-left: 8%;
  }

  .blog-image-container {
    width: 115%;
    box-shadow: -43px 46px 0px -10px #86e0f9;
    margin-left: 21%;
    margin-top: -4%;
  }

  .blog-section1 {
    margin-left: 11%;
    width: 144%;
  }

  .blog-section h3 {
    line-height: 0.9;
  }

  .blog-section2 {
    margin-left: 11%;
    width: 144%;
    margin-top: 15%;
  }

  .blog-form {
    width: 119%;
    margin-left: 14%;
  }

  .form-input {
    padding-bottom: 5%;
    flex-direction: column;
  }

  #name,
  #email,
  #comment,
  .blog-button{
    margin: 3% 0;
    width: 100%;
  }

  .blog-button {
    margin-bottom: 10%;
  }

  .contact-form-container {
    margin: 0 auto;
    margin-top: 0px;
    margin-top: -23%;
    width: 75%;
  }
}

@media only screen and (max-width: 955px){

  main {
    height: 95vh;
  }

  #contact-name,
  #contact-email {
    border: none;
    border-bottom: 1px solid #86e0f9;
    background:#0f614e;
    padding: 2%;
    width: 100%;
    margin: 3% 0;
  }

  .section1-contents {
    margin-top: -13px;
  }

  .contact-section {
    margin-left: 28%;
  }

}

@media only screen and (max-width: 849px){


  .blog-main-header {
    height: 40vh;
  }

  .header-image img {
    width: 103%;
    margin-left: -3%;
  }

  .header-container h1 {
    font-size: 4rem;
    margin-left: 19%;
  }

  .section1-container {
    margin-top: -36%;
} 

  .section1-paragraph p {
    font-size: 1rem;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .section1-contents h3 {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 1.9rem;
  }

  .section1-contents p {
    padding: 0 5%;
    padding-bottom: 10%;
  }

  
  .section5-container {
    display: flex;
    margin-top: 7%;
    margin-bottom: 17%;
    flex-direction: column;
  }
  
  .section5-image-container {
    margin: 0;
    justify-content: center;
    align-content: center;
  }
  
  .section5-contents {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 5%;
  } 
  
  .section5-image-container {
    width: 30%;
    height: 30%;
  }
  .blog-contents-container {
    padding-top: 3%;
  }

  .blog-section1 h3 {
    line-height: 2.2rem;
  }
  .contact-section {
    margin-left: 22%;
  }
}

@media only screen and (max-width: 839px){

  .contact-form-container {
    margin-top: -22%;
  }

  .contact-section {
    margin-left: 19%;
    margin-top: 19%;
  }

  .header-contact-container h2 {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 722px){

  .blog-main-header {
    height: 35vh;
  }

  .section1-container {
    margin-top: -20%
  }

  .blog-section1 h3 {
    line-height: 2.2rem;
    padding-top: 5%;
  }

  .contact-section {
    margin-left: 20%;
  }

}
@media only screen and (max-width: 703px){

  .section1-contents {
    margin-top: -30px;
  }
   .section1-container {
    margin-top: -38%;
} 
}

@media only screen and (max-width: 662px){

  // Blog Section
  .aside-image {
    max-width: 98%;
  }

  .section1-contents {
    margin-top: -5%;
  }

  .contact-section {
    margin-left: 26%;
  }

}

@media only screen and (max-width: 620px){

  .contact-header {
    height: 35vh;
  }

  .header-contact-container h2{
    font-size: 3rem;
    margin-top: 15%;
  }
  .header-contents {
    display: flex;
    flex-direction: column;
  }

  .header-image img {
    width: 64%;
    margin-left: 28%;
    margin-top: -22%;
  } 

  .main-header-image-container {
    width: 100%;
    margin-left: 8%;
    margin-top: 6%;
  }

  .header-container h1 {
    font-size: 3.9rem;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Barlow', sans-serif;
    width: 0%;
  }

  .section1-contents h3 {
    padding-top: 10%;
    line-height: 2rem;
    font-size: 1.5rem;
  }
  
  .section1-button {
    padding-top: 13%;
    padding-bottom: 17%;
  }

  .section1-contents p {
    font-size: 0.9rem;
  }

  .section2-image-container1 img {
    width: 93%;
  }

  .location-heading, 
  .blog-heading, 
  .community-heading, 
  .touch-heading {
    display: flex;
    width: 80%;
    padding-right: 10%;
    flex-direction: column;
  }

  .location-paragraph p, 
  .blog-paragraph p,
  .community-paragraph p,
  .touch-paragraph p {
    padding-left: 0%;
    margin: 0%;
  } 

  .section3-group1 i, 
  .section3-group2 i {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .section4-image-container {
    height: 410%;
  }

  .section5-image-container {
    width: 40%;
    height: 40%;
  }

  .section6-image-container {
    display: flex;
    flex-direction: column;
  }

  .section6-image-container img {
    width: 97%;
  }

  .blog-comment-container{
    display: flex;
    flex-direction: column;
  }
  .contact-form-container {
    width: 72%;
    margin: -12% 15%;
    margin-bottom: 0;
  }

  .contact-social-info p {
      font-size: 1rem;
      line-height: 1.5rem;
  }

}

@media only screen and (max-width: 500px){

  .header-image img {
    margin-top: -15%;
  }

  

  .contact-section {
    margin-left: 28%;
  }

}

@media only screen and (max-width: 492px){
    .contact-section {
      margin-left: 21%;
      margin-top: 37%;
    }
}

@media only screen and (max-width: 478px){

  .nav-links {
    text-align: center;
    padding: 5%;
  }

  .blog-contents-container h3 {
    padding-top: 7%;
  }

  .blog-section1 h3 {
    line-height: 2.2rem;
    padding-top: 15%;
  }

  .blog-section1 h3 {
    font-size: 1.9rem;
  }
  .header-image img {
    width: 100%;
    margin-left: -8%;
    margin-top: -1%;
  }

  .section1-contents {
    margin-top: 0%;
  }

  .header-contact-container h2{
    line-height: 1em;
    text-align: center;
  }
  .blog-header-container {
    margin-top: 9%;
  }
}
@media only screen and (max-width: 335px){
  
  
  .header-contact-container h2{
    font-size: 3rem;
    text-align: center;
    line-height: 2.5rem;
  }

  .blog-header-container {
    padding-top: 20%;
  }

  .section1-container {
    margin-top: -35%;
  }

  .section2-image-container2 img {
    width: 98%;
    margin-left: 2%;
  }

  .blog-section1 {
    padding-top: 50%;
  }

  .blog-section1 h3{
    line-height: 1.7rem;
    font-size: 1.7rem;
    padding: 0 5%;
  }

  .blog-section1 p {
    padding: 0 5%;
  }

  .blog-section-paragraph p {
    font-size: 0.9rem;
    padding: 0 5%;
    letter-spacing: 1px;
  }
  .blog-section1 h3 {
    line-height: 2.2rem;
  }

  .contact-section {
      margin-left: 5%;
      margin-top: 37%;
  }
}

@media only screen and (max-width: 320px){

  nav {
    padding-top: 10%;
  }

  .section1-container {
    margin-top: -13%;
}
  .blog-main-header {
    height: 20vh;
  }

  .header-contents {
    display: flex;
    flex-direction: column;
  }

  .main-header {
    width: 100%;
    height: 25vh;
  }

  .header-image img {
    width: 103%;
  }

  .header-container h1 {
    font-size: 3.9rem;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: 'Barlow', sans-serif;
  }

  .section1-contents h3 {
    padding-top: 70%;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .main-header-image-container {
    width: 92%;
    margin-left: 8%;
    margin-top: 6%;
  }

  .section1-contents h3 {
    font-size: 1.7rem;
  }

  .section2-content-h4-p-1, 
  .section2-content-h4-p-2 {
    padding-top: 18%;
  }

  .section2-image-container2 img {
    width: 90%;
    margin: 0;
    margin-left: 5%;
    }

  .section3-container {
    flex-direction: column;
  }

  .section5-container {
    display: flex;
    margin-top: 7%;
    margin-bottom: 17%;
    flex-direction: column;
  }

  .section5-image-container {
    margin:0;
    width: 100%;
  }

  .contact-container{
      margin-left: 5%;
      margin-top: -37%;
  }

  .contact-section {
    margin-left: 2%;
    margin-top: 62%;
  }
}