article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, button, p, li, ul, a, img {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

/* GENERAL STYLING */
html {
  font-size: 125%;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 32px;
}

.wrapper2 {
  max-width: 1680px;
  margin: 0 auto;
  width: 85%;
  height: 100%;
}

nav {
  font-family: 'Barlow', sans-serif;
  width: 100%;
}

img {
  width: 100%;
  display: block;
}

a {
  color: #ffffff;
  text-decoration: none;
}

span {
  display: block;
}

button {
  background: #86e0f9;
  border: 1px solid #86e0f9;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
}

.blog-button {
  background: #0f614e;
  border: 1px solid #0f614e;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  margin: 5% 0;
}

.button-blue p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  color: #0c1423;
  text-transform: uppercase;
}

.nav-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links li {
  padding: 2%;
  padding-top: 0;
  display: block;
}

.nav-links a {
  text-transform: uppercase;
}

.header-container h1 {
  font-size: 6.9rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 0.9;
  font-family: 'Barlow', sans-serif;
  margin-left: 7%;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
}

.button-darkblue {
  background: #0c1423;
  border: 1px solid #0c1423;
  text-transform: uppercase;
  padding: 1% 3%;
}

.button-blue p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 32px;
  color: #0c1423;
  text-transform: uppercase;
}

.section2-content1 {
  text-align: right;
}

.section2-content1h4 {
  padding-top: 15%;
}

.section2-content1 p,
.section2-content2 p {
  padding-bottom: 5%;
  padding-top: 2%;
}

.section2-content2 h4 {
  padding-top: 7%;
}

.main-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 20, 35, 0.5)), to(rgba(12, 20, 35, 0))), url("../images/header-image.jpg");
  background-image: linear-gradient(to bottom, rgba(12, 20, 35, 0.5), rgba(12, 20, 35, 0)), url("../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: center;
  width: 100%;
  height: 85vh;
}

.nav-links {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1%;
  padding-bottom: 7%;
  padding-right: 10%;
}

.header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.header-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.header-image {
  width: 100%;
  height: 100%;
}

.header-image img {
  width: 107%;
  margin-left: -7%;
}

.section1 {
  background: #0c1423;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section1-contents h3 {
  margin-top: 14%;
  margin-bottom: 1%;
  text-align: center;
}

.section1-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1-paragraph p {
  margin-right: 26%;
  margin-bottom: 2%;
}

.section1-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 {
  background: #0f614e;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2-container1,
section2-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2-content1,
.section2-content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section2-image-container1 img,
.section2-image-container2 img {
  margin-top: -20%;
}

.section2-image-container1 {
  width: 95%;
  -webkit-box-shadow: 48px 46px 0px -10px #86e0f9;
          box-shadow: 48px 46px 0px -10px #86e0f9;
}

.section2-button1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.section2-content1 {
  margin-right: 7%;
}

.section2-content-h4-p-1 {
  margin-top: 15%;
}

.section2-content-h4-p-1 p {
  padding-left: 25%;
}

.section2-content-h4-p-2 p {
  padding-right: 25%;
}

.section2-content-h4-p-2 {
  margin-left: 5%;
  padding-right: 5%;
}

.section2-image-container2 {
  width: 95%;
  margin-top: 31%;
  margin-left: 5%;
  -webkit-box-shadow: -46px 46px 0px -10px #86e0f9;
          box-shadow: -46px 46px 0px -10px #86e0f9;
}

.section2-image-container2 img {
  margin-top: -8%;
}

.section2-button2 {
  margin-left: 5%;
}

.section3 {
  background: #0c1423;
}

.section3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10% 0;
}

.section3-group1,
.section3-group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fas fa-location-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15%;
}

.location-heading,
.blog-heading,
.community-heading,
.touch-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding-right: 10%;
}

.location-heading i,
.blog-heading i,
.community-heading i,
.touch-heading i {
  margin-right: 5%;
}

.blog-paragraph p,
.location-paragraph p,
.community-paragraph p,
.touch-paragraph p {
  margin-left: 5%;
  padding-right: 16%;
}

.location-heading i {
  padding: 2%;
}

.blog-heading i {
  padding: 2%;
}

.community-heading i {
  padding: 1.5%;
}

.touch-heading i {
  padding: 2%;
}

.location-paragraph,
blog-paragraph,
communty-paragraph,
.touch-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3-group1 i,
.section3-group2 i {
  width: 50px;
  height: 50px;
  background: #86e0f9;
  color: #0c1423;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
}

.section3-group1 p,
.section3-group2 p {
  padding-left: 5%;
}

.section3-icon-h4 {
  margin-top: 10%;
}

.section4-image-container img {
  width: 100%;
  height: 10%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c1423;
  height: 600px;
}

.section5-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7%;
  margin-bottom: 17%;
}

.section5-image-container {
  width: 320px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10%;
  -webkit-box-shadow: 41px 37px 0px -10px #86e0f9;
          box-shadow: 41px 37px 0px -10px #86e0f9;
}

.section5-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
}

.section5-contents p {
  padding-top: 5%;
}

.section5-button1 {
  padding-top: 5%;
}

.section5-button1 p {
  padding-top: 0;
}

.section6 {
  background: #0f614e;
}

.section6-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section6-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section6-image-container img {
  margin-left: 2%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5% 0;
}

.footer-section {
  background: #86e0f9;
}

.footer-section p {
  color: #0c1423;
  text-align: center;
  padding: 1%;
}

.blog-main-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 20, 35, 0.5)), to(rgba(12, 20, 35, 0.5))), url("../images/blog-header.jpg");
  background-image: linear-gradient(to bottom, rgba(12, 20, 35, 0.5), rgba(12, 20, 35, 0.5)), url("../images/blog-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: center;
  width: 100%;
  height: 95vh;
}

.blog-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 12%;
}

.aside-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.blog-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-image {
  -webkit-box-shadow: 41px 22px 0px -23px #0f614e;
          box-shadow: 41px 22px 0px -23px #0f614e;
}

.aside-container {
  height: 1000px;
}

.aside-contents {
  margin-left: 23%;
  background: #0f614e;
  -webkit-box-shadow: 4px 0px 0px 14px #0f614e;
          box-shadow: 4px 0px 0px 14px #0f614e;
  margin-top: 1.9%;
}

.aside-section1,
.aside-section2 {
  padding: 7%;
}

.aside-section1 p,
.aside-section2 ul {
  padding-right: 10%;
  padding-top: 5%;
}

.aside-section2 ul {
  margin-left: 1rem;
}

.aside-section2 li {
  padding-left: 5%;
}

.blog-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c1423;
}

.aside-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 9%;
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.section1-container {
  margin-top: -54%;
}

.blog-image-container {
  width: 100%;
  -webkit-box-shadow: -43px 46px 0px -10px #86e0f9;
          box-shadow: -43px 46px 0px -10px #86e0f9;
}

.blog-section1 {
  -webkit-box-shadow: -19px 18px 0px -10px #86e0f9;
          box-shadow: -19px 18px 0px -10px #86e0f9;
}

.blog-section1 h3 {
  padding-bottom: 1%;
}

.blog-section1 {
  padding-top: 7%;
  padding-left: 7%;
  margin-left: -12.2%;
}

.blog-section {
  padding-top: 5%;
}

.blog-section-paragraph {
  margin-top: 5%;
  padding-right: 4%;
  padding-bottom: 3%;
}

.blog-section2 {
  margin-top: 5%;
  margin-left: -4%;
  margin-right: 13%;
}

.blog-contents-container {
  margin-left: 8%;
  margin-right: 7%;
}

.blog-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7% 0;
}

.blog-comment-image1,
.blog-comment-image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 33%;
  margin-right: 4%;
}

.blog-comment-paragraph1 {
  padding-right: 5%;
}

.blog-form {
  width: 84%;
  background: #0c1423;
}

.blog-form input,
textarea {
  color: white;
}

.blog-fieldset {
  border: none;
  background: #0c1423;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.form-comment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#name,
#email {
  border: none;
  border-bottom: 1px solid #86e0f9;
  background: #0c1423;
}

#comment {
  border: 1px solid #86e0f9;
  background: #0c1423;
}

.contact-header {
  background-image: url("../images/contact-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
  background-position: center;
  height: 50vh;
}

.header-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

main {
  background: #0c1423;
  height: 43vh;
}

.contact-section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.contact-info-section {
  width: 35%;
  margin-left: 19%;
  margin-top: 9%;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5%;
  width: 70%;
}

.contact-social-info h4 {
  margin-bottom: 7%;
}

.contact-form-container {
  margin-top: -14%;
  margin-left: -11%;
  width: 55%;
  height: 500px;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 5%;
}

.form-comment-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-name,
#contact-email {
  border: none;
  border-bottom: 1px solid #86e0f9;
  background: #0f614e;
  padding: 2%;
  padding: 0 5%;
}

#contact-comment {
  border: 1px solid #86e0f9;
  background: #0f614e;
}

.contact-fieldset {
  border: none;
  background: #0f614e;
  -webkit-box-shadow: -63px 61px 0px -13px #86e0f9;
          box-shadow: -63px 61px 0px -13px #86e0f9;
  padding: 0 7%;
  padding-top: 7%;
}

.contact-button {
  background: #0c1423;
  border: 1px solid #0c1423;
  font-family: 'Barlow', sans-serif;
  padding: 0.5% 1%;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  margin: 7% 0;
  margin-bottom: 7%;
}
